body {
    background-color: #444;
}

.container {
    display: grid;
    height: 90vh;
    grid-template-columns: 700px;
    grid-template-rows: 100px 120px auto 50px;
    grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
}

.box {
    border: 1px solid red;
    background: #F8FA9D;
    padding: 10px;
}

.header {
    grid-area: hd;
    text-align: center;
}

.footer {
    grid-area: ft;
}

.sidebar {
    grid-area: sd;
}

.posts {
    grid-area: main;
}

.categories {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.category-list {
    /* display: inline; */
    border: 1px solid black;
    padding: 5px;
    margin-right: 20px;
}