.post-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "it"
    "it";
}

.post-box {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 40px 20px 100px 40px;
    width: 350px;
    height: 200px;
    border: 1px solid black;
    grid-template-areas: 
    "tl"
    "dt"
    "msg"
    "lk";
    
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 2px lightgrey;
}

.post-title {
    grid-area: "tl";
    font-size: 25px;
}

.post-date {
    grid-area: "dt";
    color: gray;
    
}

.post-message {
    grid-area: "msg";
    margin-top: 20px;
}

.post-link {
    grid-area: "lk";
}