.post-container {
    margin: auto;
    width: 400px;
}

header h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
}

section h2 {
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
}

.data {
    color: gray;
    margin-top: 30px;
}

section p {
    padding-left: 30px;
    padding-right: 30px;
}

.main-link {
    display: block;
    text-decoration: none;
    text-align: center;
}

.button span{
    display: block;
    text-align: center;
}